<h2>Movie details</h2>

<h4>Title:{{movies.title}}</h4><hr />
<p>Genre:{{movies.genre}}</p><hr />
<p>Plot: {{movies.plot}}</p><hr />
<p>Cast:</p>

{{#each movies.cast}}
    <div>
        <h5>{{name}}</h5>
        <p>{{occupation}}</p>
        <p>{{catchPhrase}}</p>
    </div>
{{/each}}

</div>

<form action="/movies/{{movies._id}}/delete" method="POST">
<button type="submit">Delete!!!</button>
</form>

<form action="/movies/{{movies._id}}/edit" method="GET">
<button type="submit">Edit!</button>
</form>
